<?xml version="1.0"?>
<robot name="simple_billiard_table">
  <link name="base_link">
    <visual>
      <geometry>
        <box size="2.84 1.42 0.1"/> <!-- 실제 당구대의 크기를 메터 단위로 조정 -->
      </geometry>
      <material name="green">
        <color rgba="0 1 0 1"/> <!-- 녹색 당구대 -->
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="2.84 1.42 0.1"/>
      </geometry>
    </collision>
  </link>
</robot>
